body{
    background-color: #c3b9a0;
    font-family: sans-serif;
}

#title {
    font-size: 40px;
}

.nav-link {
    font-size: 26px;
    display: inline;
    margin-right: 10px;
}

.nav-link:hover {
    font-color: green;
}

#page-wrapper {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 400px;
    max-width: 900px;
}

#divline {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

a {
    color: black;
    font-style: none;
    text-decoration: none;
}
a:visited {
    color: black;
    font-style: none;
    text-decoration: none;
}
a:hover {
    color: #00aa00;
    font-style: none;
    text-decoration: none;
}
a:active {
    color: #00aa00;
    font-style: italic;
    text-decoration: none;
}

/* Title Font */
h1 {
    font-size: 26px;
}

/* Subtitle Font */
h2 {
    font-size: 18px;
}

/* Should not be used */
h3 {
    font-size: 16px;
    color: #ff3333;
}

p {
    font-size: 16px;
    line-height: 2;
}

li {
    line-height: 1.5;
}
